body {
    padding: 70px;
}
#jumColor {
    background-color: rgba(127, 255, 212, 0.7); 
}
.fa, .far, .fa-bars {
    color: Aquamarine;
}
.h4{
background-color:red;
}

.navbar-brand .navbar .nav-item {
color: Aquamarine;
}

#navbarNav > ul.navbar-nav > li.nav-item > a.nav-link {
color: Aquamarine;
}
